{% comment %} {% extends "home.html" %} {% endcomment %}
{% load static %}

{% comment %} {% block header %} {% endcomment %}
<header>
    <!-- header inner -->
    <div class="header">
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                <div class="full">
                   <div class="center-desk">
                      <div class="logo">
                        <a href="/"><h1 id="logo-text">Banana Blink</h1></a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                <nav class="navigation navbar navbar-expand-md navbar-dark ">
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarsExample04">
                     <ul class="navbar-nav mr-auto">
                         <li class="nav-item active">
                             <a class="nav-link" href="index.html">Home</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="about.html">About</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="{% url 'list_room' %}">Our room</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="gallery.html">Gallery</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="blog.html">Blog</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="contact.html">Contact Us</a>
                         </li>
                 
                         <!-- Hiển thị nút "Login" nếu người dùng chưa đăng nhập -->
                         {% if not user.is_authenticated %}
                             <li class="nav-item">
                                 <a class="nav-link" href="{% url 'login' %}">
                                     <i class="fas fa-sign-in-alt" style="font-size: 24px;"></i> <!-- Icon đăng nhập -->
                                     Login
                                 </a>
                             </li>
                         {% else %}
                             <!-- Hiển thị icon người dùng nếu đã đăng nhập -->
                             <li class="nav-item dropdown">
                                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     <i class="fas fa-user-circle" style="font-size: 24px;"></i> <!-- Icon người dùng -->
                                 </a>
                                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <p>User is logged in: {{ user.username }}</p>  
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="{% url 'login' %}">Logout</a> <!-- Đăng xuất -->
                                </div>
                             </li>
                         {% endif %}
                     </ul>
                 </div>
                </nav>
             </div>
          </div>
       </div>
    </div>
 </header>
{% comment %} {% endblock header %} {% endcomment %}